@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ffffff;
  background: radial-gradient(#000, #000);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 11rem;
  width: 10rem;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 530px;
 
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ffffff, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  margin-left: 150px;
}

header p {
  margin: 50px;
  font-size: 1.8rem;
  color: #C9AE5D;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  width: 30%;
  max-width: 30rem;
  margin: auto;
  section {
  margin-bottom: 30px; 
}
}

#anime-list {
  padding: 1rem;
  border-radius: 10px;
  background-color: #ff5e00;
  box-shadow: 0 2px 8px rgba(245, 245, 248, 0.4);
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #0066cc;
}

#anime-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#anime-list li {
  width: 10rem;
  text-align: center;
}

#anime-list li img {
  height: 6rem;
  width: 6rem;
  object-fit: fill;
}

#anime-list li h3 {
  margin: 0.5rem 0;
}

#anime-list li p {
  font-size: 0.9rem;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #ff0000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

#examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #ff0000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}
